<!-- Include layout by using Node.js 3.x function \<\% include (userdesign.ejs) %> -->
<% include layoutTop %>
<% include layoutLeft %>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<% include layoutRight %>
<% include layoutBottom %>