    <div class="container">

	  <div class="starter-template">
		<div class="container">
			
			<div class="row row-offcanvas row-offcanvas-right">
				
				<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
					<div class="list-group">
						<a id="aHrefIntf" href="/intf" class="list-group-item active">Interface</a>
						<a id="aHrefNat" href="/nat" class="list-group-item">Nat</a>
						<a id="aHrefRouting" href="/routing" class="list-group-item">Routing</a>
					</div>
				</div><!--/span-->
				
				<div class="col-xs-12 col-sm-9">
					<p class="pull-right visible-xs">
						<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
					</p>		
					<div class="jumbotron">