<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="js/utils.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Configuration</p>
<script>
var config = '<%= config %>';
config = charxml(config);
var configObj = JSON.parse(config);

var sendTo = function () {
    for (var i in configObj.intf.data) {
        var t = configObj.intf.data[i];
        t.ip[0] = document.getElementById(t.name[0]+'ip').value;
        t.mask[0] = document.getElementById(t.name[0]+'mask').value;
        t.duplex[0] = document.getElementById(t.name[0]+'duplex').value;
        t.speed[0] = document.getElementById(t.name[0]+'speed').value;
    };

    var postdata = 'data='+JSON.stringify(configObj);
    req('/receive', 'POST', {"Content-type": "application/x-www-form-urlencoded"}, postdata, function (d){
        var r = JSON.parse(d);
        if (r.status != true) {
            alert(r.status+' Format error \nitem: '+r.item+'\nvalue: '+r.value);
        }
        return;
    });
}
    
</script>    
<div id='intList'>
</div>
<button type="button" onclick="sendTo()">Send</button>

<script>
var html = '';
for (var i in configObj.intf.data) {
    var t = configObj.intf.data[i];
    html += '<div id='+t.name[0]+'>'+t.name[0]+':<br />IP: <input type="text" id="'+t.name[0]+'ip" value="'+t.ip[0]+'"><br />Mask: <input type="text" id="'+t.name[0]+'mask" value="'+t.mask[0]+'"><br />Duplex: <input type="text" id="'+t.name[0]+'duplex" value="'+t.duplex[0]+'"><br />Speed: <input type="text" id="'+t.name[0]+'speed" value="'+t.speed[0]+'"><br /><br /></div>';
}

document.getElementById("intList").innerHTML = html;
</script>

</body>
</html>















